.list-header {
    border: 1px solid black;
}

.list-header__search-input {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}
.list-header__add-btn {
   text-decoration: none;
   color: black;
   font-size: 18px;
   display: inline-block;
   border: 1px solid black;
   padding: 3px;
}